<header>
  <nav class="border-gray-200 bg-white px-4 py-2.5 dark:bg-gray-800 lg:px-6">
    <div
      class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between"
    >
      <a href="#" class="flex items-center">
        <img
          src="assets/dinner-poker-logo.svg"
          class="mr-3 h-6 sm:h-9"
          alt="Dinner Poker"
        />
        <span
          class="self-center whitespace-nowrap text-xl font-semibold dark:text-white"
          >Dinner Poker</span
        >
      </a>
      <div class="flex items-center lg:order-2">
        <a
          href="#"
          class="mr-2 rounded-lg px-4 py-2 text-xl font-medium text-gray-800 hover:bg-gray-50 focus:outline-none focus:ring-4 focus:ring-gray-300 dark:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-800 lg:px-5 lg:py-2.5"
          >&#9860;</a
        >
      </div>
    </div>
  </nav>
</header>
